@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 62.5%; */
}
body{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
    border: 2px solid black;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(8, 128, 240, 0.459);
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    border: none;
}
.main{
    border: 1px solid white;
    height: 75vh;
    width: 25vw;
    border-radius: 20px;
    background-color: white;
}
.input{
    margin-top: 2.5rem;
    text-align: center;
    font-size: 1.5rem;
    position: relative;
}
h1{
    font-size: 3rem;
    background-color: rgb(250, 15, 191);
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.308);
}
.add-item{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: inherit;
    background-color: inherit;
    border: 3px solid rgb(222, 75, 241);
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    margin-right: 5px;
}
.add-item:focus{
    outline: none;
}
/* .add-item:focus::-webkit-input-placeholder {
    outline: none;
    transition: opacity 0.5s 0.01s ease!important;
    opacity: 0;
} */
.input_field{
    display: inline-block;
    position: relative;
}
.input_label{
    position: absolute;
    top:0;
    left: 1rem;
    transition: transform 0.5s, top 0.5s, left 0.5s;
}

.add-item:focus ~ .input_label,.add-item:not(:placeholder-shown).add-item:not(:focus)~.input_label{
    top:-1rem;
    left:-1rem;
    transform: scale(0.7);
}
.add-item:focus ~ .input_label,.add-item:not(:placeholder-shown).add-item:not(:focus)~.input_label{
    background-color: white;
}
.btn{
    font-size: inherit;
    font-weight: bold;
    background-color: rgb(222, 75, 241);
    color: white;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border:none;    
    cursor: pointer;
    flex-shrink: 0;
}

.list{
    /* border:2px solid pink; */
    /* min-width: none; */
    max-height: 50%;
    width: inherit;
    padding: 10px;
    font-size: 1.5rem;
    display: flex;
    /* flex-wrap:wrap; */
    flex-direction: column;
    overflow:auto;
}
.btn:hover{
    transform: scale(1.2);
    transition-duration: 0.1s  ;
    transition-property: all;
    transition: ease-in-out;
}
.del-btn:hover{
    background-color: rgb(247, 65, 65);
    margin-right: 10px;
}
.add-btn:hover{
    margin-left: 5px;
    background-color: rgb(75, 233, 75);
}
.list-item{
    /* border:2px solid orangered; */
    margin:10px;
    display: flex;
    
}
.del-btn{
    margin-right: 5px;
}
.item{
    /* border: 2px solid red; */
    display: inline;
}
@media only screen and (max-width: 900px){
    .main{
        width: 50vw;
    }
}
@media only screen and (max-width: 500px){
    .main{
        width: 70vw;
    }
}
