*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    /* background-color: rgb(215,231,255); */
    font-family: 'Be Vietnam Pro', sans-serif;
    background-image:url(../img/bg.jpeg);
}
header{
    display: block;
    background-color: white;
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem;
    color: white;
    position:sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
    text-shadow: 0px 0px 10px rgb(83, 83, 82);
    box-shadow: 0ch 0 15px rgba(58, 56, 56, 0.527);
    transform: 2px 2px;
}
.main-box{
    font-size: 1.2em;
    /* border: 2px solid red; */
    margin: 5rem 5vw;
    /* width: 75vw; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    color: pink;
    text-decoration-style: solid;
    text-decoration: black;
    text-decoration-color: rgb(230, 176, 203);
    text-align: center;
    margin: 2.5vh 2.5vh;
    height: 500px;
    width: 400px;
    /* padding: 0.5rem; */
    /* transition-duration: 0.5s;
    transition-delay: 1s; */
    transition: all 0.2s ease-in-out;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.445);
}
.box1{
    /* border: 2px solid brown; */
}
.box:hover{
    /* transform: rotate(360deg); */
    transform: scale(1.02);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.472);
    /* background-color: lightblue; */
}
.box2{
    /* border: 2px solid green; */
}
.box3{
    /* border: 2px solid purple; */
}
.box4{
    /* border: 2px solid orange; */
}
.box5{
    /* border: 2px solid pink; */
}
.thumbnail{
    height: 50%;
    width: 100%;
    object-fit:cover;
}
.box p{
    font-size: 1.3em;
    word-spacing: 0.3em;
    padding: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.imdb-link{
    display: inline-block;
    font-size: 1.7rem;
    background-color: rgb(255, 187, 0);
    padding: 1rem;
    margin-top: 1.5rem;
    text-decoration: none;
    color: white;
}
